/*** button  start ***/
.van-button {
    height: 102px;
    font-size: 36px;
    line-height: 98px;
    border-radius: 6px;
}

.van-button--default {
    border-width: 2px;
}

.van-button--primary {
    border-width: 2px;
}

.van-button--info {
    border-width: 2px;
}

.van-button--danger {
    border-width: 2px;
}

.van-button--warning {
    border-width: 2px;
}

.van-button--large {
    height: 116px;
    line-height: 112px;
}

.van-button--normal {
    font-size: 32px;
}

.van-button--small {
    min-width: 140px;
    height: 70px;
    padding: 0 18px;
    font-size: 28px;
    line-height: 64px;
}

.van-button--mini {
    min-width: 116px;
    height: 50px;
    font-size: 24px;
    line-height: 46px;
}

.van-button--mini + .van-button--mini {
    margin-left: 12px;
}

/*** button  end ***/

/**** loading  start****/
.van-loading__spinner {
    width: 70px;
    height: 70px;
}

.van-loading__spinner--spinner::before {
    width: 6px;
}

.van-loading__text {
    margin-left: 18px;
    font-size: 32px;
}

.van-loading--vertical .van-loading__text {
    margin: 18px 0 0;
}

/**** loading  end****/

/**** toast  start****/
.van-toast {
    width: 210px;
    min-height: inherit;
    padding: 38px;
    font-size: 32px;
    line-height: 46px;
    border-radius: 10px;
}

.van-toast--text {
    min-width: 224px;
    padding: 18px 28px;
    width: -webkit-fit-content;
    width: fit-content;
    min-height: unset;
}

.van-toast--top {
    top: 116px;
}

.van-toast--bottom {
    bottom: 116px;
}

.van-toast__icon {
    font-size: 94px;
}

.van-toast__loading {
    padding: 12px;
}

.van-toast__text {
    margin-top: 18px;
}

/**** toast  end****/
/**** ActionSheet  start****/
.van-action-sheet__cancel,
.van-action-sheet__item {
    font-size: 32px;
    line-height: 100px;
}

.van-action-sheet__item {
    height: 100px;
}

.van-action-sheet__subname {
    margin-left: 8px;
    font-size: 24px;
}

.van-action-sheet__cancel::before {
    height: 16px;
}

.van-action-sheet__header {
    font-size: 32px;
    line-height: 88px;
}

.van-action-sheet__close {
    padding: 0 24px;
    color: #969799;
    font-size: 36px;
}

/**** ActionSheet  end****/

/**** swipe  start****/

.van-swipe__indicators {
    bottom: 24px;
}

.van-swipe__indicators--vertical {
    left: 24px;
}

.van-swipe__indicators--vertical .van-swipe__indicator:not(:last-child) {
    margin-bottom: 12px;
}

.van-swipe__indicator {
    width: 24px;
    height: 8px;
    border-radius: 4px;
}

.van-swipe__indicator:not(:last-child) {
    margin-right: 12px;
}

.van-swipe__indicator--active {
    background-color: #00b900;
}

/**** swipe  end****/

/***popup   start***/
.van-popup--center.van-popup--round {
    border-radius: 40px;
}

.van-popup--top.van-popup--round {
    border-radius: 0 0 40px 40px;
}

.van-popup--right.van-popup--round {
    border-radius: 40px 0 0 40px;
}

.van-popup--bottom.van-popup--round {
    border-radius: 40px 40px 0 0;
}

.van-popup--left.van-popup--round {
    border-radius: 0 40px 40px 0;
}

.van-popup__close-icon {
    font-size: 36px;
}

.van-popup__close-icon--top-left {
    top: 32px;
    left: 32px;
}

.van-popup__close-icon--top-right {
    top: 32px;
    right: 32px;
}

.van-popup__close-icon--bottom-left {
    bottom: 32px;
    left: 32px;
}

.van-popup__close-icon--bottom-right {
    right: 32px;
    bottom: 32px;
}

/*** popup end ***/

/*** dialog start ***/
.van-dialog {
    font-size: 32px;
    border-radius: 8px;
    width: 320px;
    /* no */
}

.van-dialog__header {
    padding-top: 48px;
    line-height: 48px;
}

.van-dialog__header--isolated {
    padding: 48px 30px;
}

.van-dialog__message {
    padding: 48px;
    font-size: 16px;
    /* no */
    line-height: 40px;
}

.van-dialog__message--has-title {
    padding-top: 24px;
}

.van-dialog__confirm,
.van-dialog__confirm:active {
    color: #00b900;
}

/*** dialog end ***/

/**** picker  start****/
.van-picker__toolbar {
    height: 88px;
    line-height: 88px;
}

.van-picker__cancel,
.van-picker__confirm {
    padding: 0 32px;
    color: #00b900;
    font-size: 30px;
}

.van-picker__title {
    font-size: 32px;
}

.van-picker-column {
    font-size: 32px;
}

.van-picker-column__item {
    padding: 0 10px;
}

/**** picker  end****/

/*** radioGroup && radio start ***/
.van-radio__icon {
    font-size: 40px;
}

.van-radio__icon .van-icon {
    width: 1.25rem;
    height: 1.25rem;
    font-size: 0.8rem;
}

.van-radio__icon--checked .van-icon {
    background-color: #00b900;
    border-color: #00b900;
}

.van-radio__label {
    margin-left: 16px;
    line-height: 40px;
}

.van-radio__label--left {
    margin: 0 16px 0 0;
}

/*** radioGroup && radio end ***/
.van-overlay,
.van-popup--right,
.van-popup--bottom {
    width: 100%;
    max-width: 750px;
    left: unset;
    right: unset;
}

/**** tree-select  start****/
.van-tree-select {
    font-size: 30px;
}
.van-tree-select__nav {
    flex: 0 1 auto;
}
.van-tree-select__nav-item {
    padding: 24px 16px 24px 24px;
}
.van-tree-select__item {
    padding: 0 64px 0 32px;
    line-height: 88px;
}
.van-tree-select__item--active {
    color: #00b900;
}
.van-tree-select__selected {
    right: 32px;
    margin-top: -16px;
}
/**** tree-select  end****/

/**** sidebar  start****/
.van-sidebar {
    width: 160px;
}
/**** sidebar  end****/

/**** sidebar-item  start****/
.van-sidebar-item {
    padding: 0;
    text-align: center;
    color: #666;
    font-size: 30px;
    line-height: 100px;
    border-left: 6px solid transparent;
    border-bottom: 2px solid #e6e6e6;
    background-color: #f2f2f2;
}
.van-sidebar-item:active {
    background-color: #f2f3f5;
}
.van-sidebar-item:not(:last-child)::after {
    border-bottom-width: 2px;
}
.van-sidebar-item:last-child, :nth-last-child(2), :nth-last-child(3) {
    border-bottom: none;
}
.van-sidebar-item--select {
    font-weight: 500;
    color: #222;
    border-left-color: #00b900;
    background-color: #fff;
}
.van-sidebar-item--select::after {
    border-right-width: 2px;
}
/**** sidebar-item  end****/
